body {
	margin: 0;
	padding: 0;
}

.container {
  margin-top: 10px;
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: right;
  cursor: default
}

.box {
	padding: 20px;
	padding-top: 0px;
	background-color: #f2f2f2;
	border: 1px solid #ddd;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	text-align: left;
	cursor: default
}
