* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url('../img/photovoltaic-491702.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
